/* /Pages/ChatPage.razor.rz.scp.css */
body[b-fu2xibmymp] {
}
.btn-send[b-fu2xibmymp]{
    background-color: dodgerblue;
    border-radius: 2px;
    height: 40px; 
    width: 80px;
}
.no-username[b-fu2xibmymp]{
    color:red;
}
.message-bubble[b-fu2xibmymp] {
    background-color: dodgerblue;
    color:white;
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 70%;
    margin-bottom: 10px;
    display: inline-block;
    word-wrap: break-word;
    position: relative;
}

.message-bubble[b-fu2xibmymp]:before {
    position: absolute;
    border-width: 10px;
    
}

.list-group[b-fu2xibmymp] {
    list-style-type: none;
}
